{% extends "layout.html" %}
{% block content %}
<h3>Created By - <a href="https://www.github.com/hashbanger" target="new">Prashant Brahmbhatt</a></h3>
<br>
<p>This blog website is for learning purposes and does not earn any profits, please claim any of the copyrighted content by contacting to the developer.</p>
<p>It is developed using Flask in Python and its packages. The complete code for this is available in <a href="https://github.com/hashbanger/WebBlogs_using_Python/tree/master/Using_Flask" target="new">this</a> repository.</p>
<br>
<p>The site is developed with the help of the invaluable free tutorials provided by <a href="https://coreyms.com/" target="new">Corey Schafer</a> and the tutorial playlist for this web app is available <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH" target="new">here</a>.</p>
{% endblock content %}